---
import Container from "../../shared/Container.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import ProfileCard from './ProfileCard.astro';
import yong from './assets/YongChen_2023.jpg';
import alan from './assets/alan_sill.png';
import yu from './assets/yu.jpg';
import tommy from './assets/dang.jpg';
import stephen from './assets/StephenBayne.png';
import susan from './assets/mengel.jpg';
import argenis from './assets/argenis-bilbao.jpg';

const team = [
  {
    photo: yong,
    name: 'Yong Chen',
    position: 'Principal Investigator',
    description: 'Professor and Director of the Data-Intensive Scalable Computing Laboratory at Texas Tech University.',
    website: 'http://www.myweb.ttu.edu/yonchen/'
  },
  {
    photo: alan,
    name: 'Alan Sill',
    position: 'Co-Principal Investigator',
    description: 'Managing Director of the High Performance Computing Center and Adjunct Professor of Physics at Texas Tech University.',
    website: 'https://members.educause.edu/alan-sill'
  },
  {
    photo: stephen,
    name: 'Stephen Bayne',
    position: 'Co-Principal Investigator',
    description: 'Vice Chancellor for Innovation and Collaboration, Executive Director of the Critical Infrastructure Security Institute, John R. Bradford Endowed Chair in Engineering at Texas Tech University.',
    website: 'https://www.depts.ttu.edu/ece/faculty/stephen_bayne/index.php'
  },
  {
    photo: yu,
    name: 'Yu Zhuang',
    position: 'Co-Principal Investigator',
    description: 'Associate Professor and Associate Chair of Computer Science at Texas Tech University.',
    website: 'https://www.depts.ttu.edu/cs/faculty/yu_zhuang/index.php'
  },
  {
    photo: tommy,
    name: 'Tommy Dang',
    position: 'Co-Principal Investigator',
    description: 'Associate Professor of Computer Science at Texas Tech University.',
    website: 'http://www.myweb.ttu.edu/tnhondan'
  },
  {
    photo: susan,
    name: 'Susan Mengel',
    position: 'Key Personnel',
    description: 'Associate Professor of Computer Science at Texas Tech University',
    website: 'https://www.depts.ttu.edu/cs/faculty/susan_a._mengel/index.php'
  },
  {
    photo: argenis,
    name: 'Argenis Bilbao',
    position: 'Key Personnel',
    description: 'Senior Director of the GLEAMM center at Texas Tech University',
    website: 'https://www.depts.ttu.edu/research/staff/ArgenisBilbao.php'
  }
];

const { className = "" } = Astro.props;
---
<section id="about-us" class=`${className} about-us-section bg-gray-50 dark:bg-base-dark-900 py-16 px-6 md:px-12`>
  <Container
    className="mx-auto flex flex-col items-center justify-center text-center"
  >
    <Title2>Meet the team behind this project</Title2>
  </Container>

  <div class="profiles-container grid gap-8 mx-auto w-full max-w-7xl">
    {team.map(member => (
      <ProfileCard {...member} />
    ))}
  </div>
</section>

