---
import Container from "../../shared/Container.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import ProfileCard from './ProfileCard.astro';
import yong from './assets/YongChen_2023.jpg';
import alan from './assets/alan_sill.png';
import yu from './assets/yu.jpg';
import tommy from './assets/dang.jpg';
import stephen from './assets/StephenBayne.png';
import susan from './assets/mengel.jpg';
import argenis from './assets/argenis-bilbao.jpg';
import tongyang from './assets/TongyangWang.jpg';
import amauri from './assets/AmauriRibeiro.jpg';
import JieLi from './assets/JieLi.jpg';
import yongjian from './assets/Yongjian.jpg';
import samuel from './assets/SamuelAbiola.jpg';
import ashlesha from './assets/AshleshaMalla.jpg';
import chenxu from './assets/ChenxuNiu.png'; 
import manoj from './assets/ManojKhatri.jpg';
import ElhamHojati from './assets/ElhamHojati.jpg';
import PhornsawanRoemsri from './assets/PhornsawanRoemsri.jpg';
import danstanzione from './assets/danstanzione.jpg';
import danielkatz from './assets/danielkatz.jpg';
import HongfengYu from './assets/HongfengYu.jpg';
import TatineniMahi from './assets/TatineniMahi.jpg';
import fernandaFoertter from './assets/fernandaFoertter.jpg';
import andrewGrimshaw from './assets/andrewGrimshaw.jpg';
import batuhan from './assets/SencerBatuhan.jpg';

// add actual images for placeholders
import placeholderProfile from './assets/generic-avatar.jpg';

// Faculty members
const faculty = [
  {
    photo: yong,
    name: 'Yong Chen',
    position: 'Principal Investigator',
    description: 'Professor and Director of the Data-Intensive Scalable Computing Laboratory at Texas Tech University',
    website: 'http://www.myweb.ttu.edu/yonchen/'
  },
  {
    photo: alan,
    name: 'Alan Sill',
    position: 'Co-Principal Investigator',
    description: 'Managing Director of the High Performance Computing Center and Adjunct Professor of Physics at Texas Tech University',
    website: 'https://members.educause.edu/alan-sill'
  },
  {
    photo: stephen,
    name: 'Stephen Bayne',
    position: 'Co-Principal Investigator',
    description: 'Professor in ECE and Vice Chancellor for Innovation and Collaboration at Texas Tech University',
    website: 'https://www.depts.ttu.edu/ece/faculty/stephen_bayne/index.php'
  },
  {
    photo: yu,
    name: 'Yu Zhuang',
    position: 'Co-Principal Investigator',
    description: 'Associate Professor and Associate Chair of Computer Science at Texas Tech University',
    website: 'https://www.depts.ttu.edu/cs/faculty/yu_zhuang/index.php'
  },
  {
    photo: tommy,
    name: 'Tommy Dang',
    position: 'Co-Principal Investigator',
    description: 'Associate Professor of Computer Science at Texas Tech University',
    website: 'http://www.myweb.ttu.edu/tnhondan'
  },
  {
    photo: susan,
    name: 'Susan Mengel',
    position: 'Key Personnel',
    description: 'Associate Professor of Computer Science at Texas Tech University',
    website: 'https://www.depts.ttu.edu/cs/faculty/susan_a._mengel/index.php'
  },
  {
    photo: argenis,
    name: 'Argenis Bilbao',
    position: 'Key Personnel',
    description: 'Senior Director of the GLEAMM center at Texas Tech University',
    website: 'https://www.depts.ttu.edu/research/staff/ArgenisBilbao.php'
  }
  
];

// Postdoctoral staff
const postdocs = [
  {
    photo: ElhamHojati,
    name: 'Elham Hojati',
    position: 'Postdoctoral Researcher',
    description: 'Computer Science',
    website: '#'
  },
  {
    photo: JieLi,
    name: 'Jie Li',
    position: 'Postdoctoral Researcher',
    description: 'Computer Science',
    website: 'https://lijie.me'
  }
  
];
// Student researchers
const students = [
  {
    photo: manoj,
    name: 'Manoj Khatri',
    position: 'Master Student',
    description: 'Computer Science and HPCC',
    website: '#'
  },
  {
    photo: ashlesha,
    name: 'Ashlesha Malla',
    position: 'PhD Student',
    description: 'Computer Science',
    website: '#'
  },
  {
    photo: PhornsawanRoemsri,
    name: 'Phornsawan Roemsri',
    position: 'PhD Student',
    description: 'Computer Science',
    website: '#'
  },
  {
    photo: tongyang,
    name: 'Tongyang Wang',
    position: 'PhD Student',
    description: 'Computer Science',
    website: '#'
  },
  {
    photo: samuel,
    name: 'Samuel Abiola',
    position: 'PhD Student',
    description: 'Computer Science and HPCC',
    website: '#'
  },
  {
    photo: yongjian,
    name: 'Yongjian Zhao',
    position: 'PhD Student',
    description: 'Computer Science',
    website: '#'
  },
  {
    photo: chenxu,
    name: 'Chenxu Niu',
    position: 'PhD Student',
    description: 'Computer Science',
    website: '#'
  },
  {
    photo: amauri,
    name: 'Amauri Ribeiro',
    position: 'PhD Student',
    description: 'Computer Science',
    website: '#'
  },
  {
    photo: batuhan,
    name: 'Batuhan Sencer',
    position: 'Undergraduate Student',
    description: 'Computer Science',
    website: '#'
  }
];

// External Advisory Board
const advisoryBoard = [
  {
    photo: danstanzione,
    name: 'Dan Stanzione',
    position: 'Executive Director, Texas Advanced Computing Center',
    description: 'Associate Vice President for Research, The University of Texas at Austin',
    website: 'https://tacc.utexas.edu/about/staff-directory/dan-stanzione/'
  },
  {
    photo: danielkatz,
    name: 'Daniel S. Katz',
    position: 'Chief Scientist at NCSA',
    description: 'Research Professor in the Siebel School of Computing and Data Science at the University of Illinois Urbana-Champaign',
    website: 'https://danielskatz.org/'
  },
  {
    photo: HongfengYu,
    name: 'Hongfeng Yu',
    position: 'Associate Professor, University of Nebraska-Lincoln',
    description: 'Director of Holland Computing Center',
    website: 'https://cse.unl.edu/~yu/'
  },
  {
    photo: TatineniMahi,
    name: 'Mahidhar Tatineni',
    position: 'User Services Director of SDSC',
    description: 'Research Programmer Analyst of SDSC',
    website: 'https://www.sdsc.edu/research/experts/tatineni_mahidhar.html'
  },
  {
    photo: fernandaFoertter,
    name: 'Fernanda Foertter',
    position: 'Senior HPC Engineer',
    description: 'Oak Ridge National Laboratory (Scientific Computing, AI, ML, Data)',
    website: 'https://foertter.com/about/'
  },
  {
    photo: andrewGrimshaw, 
    name: 'Andrew Grimshaw',
    position: 'Emeritus Professor of University of Virginia',
    description: 'Retired President of Lancium Compute',
    website: 'https://www.cs.virginia.edu/~grimshaw/'
  }
];

const { className = "" } = Astro.props;
---
<section id="about-us" class=`${className} about-us-section bg-gray-50 dark:bg-base-dark-900 py-16 px-6 md:px-12`>
  <Container
    className="mx-auto flex flex-col items-center justify-center text-center"
  >
    <Title2>Meet the team behind this project</Title2>
  </Container>

  <!-- Faculty Section -->
  <Container className="mx-auto mt-12">
    <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200 mb-6 text-center">Faculty</h3>
    <div class="profiles-container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mx-auto w-full max-w-7xl">
      {faculty.map(member => (
        <ProfileCard {...member} />
      ))}
    </div>
  </Container>

  <!-- Postdoctoral Staff Section -->
  <Container className="mx-auto mt-16">
    <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200 mb-6 text-center">Postdoctoral Staff</h3>
    <div class="flex justify-center w-full max-w-6xl mx-auto">
      <div class="profiles-container grid grid-cols-1 sm:grid-cols-2 gap-12 mx-auto">
        {postdocs.map(member => (
          <ProfileCard {...member} />
        ))}
      </div>
    </div>
  </Container>

  <!-- Students Section -->
  <Container className="mx-auto mt-16">
    <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200 mb-6 text-center">Student Researchers</h3>
    <div class="profiles-container grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-4 mx-auto w-full max-w-5xl">
      {students.map(member => (
        <ProfileCard {...member} />
      ))}
    </div>
  </Container>

  <!-- External Advisory Board Section -->
  <Container className="mx-auto mt-16">
    <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200 mb-6 text-center">External Advisory Board</h3>
    <div class="profiles-container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mx-auto w-full max-w-6xl">
      {advisoryBoard.map(member => (
        <ProfileCard {...member} />
      ))}
    </div>
  </Container>
</section>




